/*the stylesheet(s) should change the properties of 
the 'p' element and, at least, one 'heading' type between 
the different screen-sizes.•define and use, at least, one 'class';*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff6700;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #ff9a00;
}